* {
  box-sizing: border-box;
}

h2 {
  margin: 0
}

input, button {
  background-color: #fff;
  border: 1px solid #0004;
  padding: 6px 8px;
  border-radius: 4px;
  text-align: center;
  outline: 0;
}

button {
  cursor: pointer;
  background-color: #eee;
}

button:hover {
  background-color: #e0e0e0;
}

body {
  font-family: sans-serif;
  overflow: hidden;
}

.app {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* Lobby */

.lobby {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 48px;
  text-align: center;
}

.lobby-section {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* Meeting */

.meeting {
  display: none;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  height: 100%
}

@media (min-width: 768px) {
  .meeting {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
  }
}

.meeting-room {
  padding: 2rem;
}

.room-info {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 32px;
}

.room-streams {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  position: relative;
}

.video-container {
  position: relative;
  height: 0;
  padding-bottom: 75%;
  background-color: #000;
  border-radius: 4px;
  overflow: hidden;
}

.video-container video {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform: rotateY(180deg);
}

.video-label {
  position: absolute;
  bottom: 4px;
  left: 4px;
  background-color: #000;
  color: #fff;
  padding: 3px 5px;
  opacity: 0.75;
  font-size: 14px;
  border-radius: 2px;
  z-index: 10;
}

.transcripts {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #f5f5f5;
  padding: 32px;
}

.segment {
  background-color: #0001;
  border-radius: 4px;
  padding: 12px;
}

.segment div {
  opacity: 0.5;
  margin-bottom: 4px;
}